################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommonLibTest_Console/bin
/.vs
/CommonLibTest_Console/obj
/CommonLibTest_Wpf/bin
/CommonLibTest_Wpf/obj
/Common_Maui/bin
/Common_Maui/obj
/Common_Util/bin
/Common_Util/obj
/Common_Util.Data/bin
/Common_Util.Data/obj
/Common_Util.Excel.NPOI/bin
/Common_Util.Excel.NPOI/obj
/Common_Util.Excel.NPOI.GDI/bin
/Common_Util.Excel.NPOI.GDI/obj
/Common_Util.Excel.NPOI.SkiaSharp/bin
/Common_Util.Excel.NPOI.SkiaSharp/obj
/Common_Util.GDI/bin
/Common_Util.GDI/obj
/Common_Util.NewtonsoftJson/bin
/Common_Util.NewtonsoftJson/obj
/Common_Winform/bin
/Common_Winform/obj
/Common_Wpf/bin
/Common_Wpf/obj
/Common_WpfWinformMix/bin
/Common_WpfWinformMix/obj
/Common_Util.Test.Console/bin
/Common_Util.Test.Console/obj
